# Node.js dependencies
node_modules/
clients/node_modules/
server/node_modules/
.cache/
*.pack

# Environment and log files
.env
clients/.env
server/.env
*.log

# Build artifacts
dist/
build/
clients/build/
server/build/

# OS-specific files
.DS_Store
Thumbs.db
